/*==============================================

Gumby Framework Version 2.0

Follow @gumbycss on twitter and spread the love. 
We worked super hard on making this awesome and 
released it to the web. All we ask is you leave 
this in tact. 
http://www.gumbyframework.com/

==============================================*/


@import "compass/typography/vertical_rhythm";

@include establish-baseline;

html * {
	@include box-sizing(border-box);
}

body {
  background: $global-bg-color;
  font-family: '#{$font-family}';
  font-weight: $body-font-weight;
  color: $body-font-color;
  position: relative;
  -webkit-font-smoothing: $font-smoothing;
}

.ie9 {
  font-family: "#{$font-family}";
  * {
    font-family: "#{$font-family}";
  }
}

.hide {
  display: none;
}

.hide.active, .show {
  display: block;
}

.fixed {
  position: fixed;
  @include respond(portrait-tablets) {
    position: relative !important;
  }
}
