// Your custom SCSS should be written here...

$fideloper-blue: #4ea3d0;
$fideloper-alt: #444444;
$fideloper-accent: #cccccc;

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: $fideloper-blue;
}

.badge.primary,
.label.primary {
background: $fideloper-blue;
}

body {
    border-top: 12px solid $fideloper-blue;
}

#brand h1 {
    font-size: 1.5rem;
}

.listing h3 a {
    color: $fideloper-blue;
}

.listing h3 a:hover {
    color: $fideloper-alt;
}

#gheader {
    margin: 25px auto 25px auto;
}

#avatar a {
    box-shadow: 0 1px 3px rgba(0,0,0,.21);
    display: block;
    float: left;
    line-height: 0;
    position: relative;
    margin-left: 50%;
    left: -32px;
}

#avatar a img {
    border-radius: 2px;
}

.meta {
    margin-top: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.meta a {
    font-size: .8rem;
    line-height: 14px;
}

.meta a span {
    color: $fideloper-alt;
}

.meta li {
    line-height: 20px;
}

#gsidebar li {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 20px;
}

.whoami {
    font-size: .8rem;
    line-height: 16px;
}

.listing article {
    border-top: 1px solid $fideloper-accent;
    padding-top: 24px;
}

.listing article:first-child {
    border: none;
    padding-top: 0;
}

#gfoot {
    border-top: 1px solid $fideloper-accent;
    margin: 30px 0;
    padding-top: 30px;
}

.listing .pagi {
    margin: 50px 0;
}

@include respond(portrait-tablets) {

    #brand,
    #brand p {
        text-align: center
    }

    #brand h1 {
        font-size: 3rem;
    }

    h2.title {
        margin: 20px 0;
    }

    .meta time,
    .meta li {
        float: left;
        margin-right: 12px;
        line-height: 26px;
    }

}
.post pre{ margin-bottom:20px }
code{background-color:#fde9ce}.prettyprint{overflow-x:auto;font-family:Monaco,Consolas,"Lucida Console",monospace;background-color:#333;padding:1.5em;font-size:.75em;border:0;color:#e9e4e5;line-height:1.9em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box}.prettyprint .pln{color:#e9e4e5}.prettyprint .str{color:#bcd42a}.prettyprint .kwd{color:#4bb1b1}.prettyprint .com{color:#888}.prettyprint .typ{color:#ef7c61}.prettyprint .lit{color:#bcd42a}.prettyprint .pun,.prettyprint .opn,.prettyprint .clo{color:#fff}.prettyprint .tag{color:#4bb1b1}.prettyprint .atn{color:#ef7c61}.prettyprint .atv{color:#bcd42a}.prettyprint .dec,.prettyprint .var{color:#606}.prettyprint .fun{color:red}.prettyprint code{font-family:Monaco,Consolas,"Lucida Console",monospace;background-color:transparent}