h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: $fideloper-blue;
}

header h1,
h1.header,
header h2,
h2.header,
header h3,
h3.header,
header h4,
h4.header,
header h5,
h5.header,
header h6,
h6.header {
    font-weight: 200;
}

#avatar h1 {
    font-size: 16px;
    font-size: 3rem;
}

.badge.primary,
.label.primary {
background: $fideloper-blue;
}

body {
    border-top: 12px solid $fideloper-blue;
}

#brand h1 {
    font-size: 1.5rem;
}

.single h2 {
    font-weight: 800;
}

// .listing h3 {
//     font-weight: 200;
// }

.listing h3 a {
    color: $fideloper-blue;
}

.listing h3 a:hover {
    color: $fideloper-alt;
}

#gheader {
    margin: 15px auto 25px auto;
}

#avatar {
    text-align: center;
}

#avatar a {
    /* box-shadow: 0 1px 3px rgba(0,0,0,.21); */
    line-height: 0;
    text-align: center;
}

#avatar a img {
    width: 110px;
}

.meta time {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.meta a span,
.tag header h2 span {
    color: $fideloper-alt;
}

.meta li {
    line-height: 20px;
    float: left;
    font-size: 12px;
    margin-right: 20px;
}

.meta.tags {
    border-top: 1px solid $fideloper-accent;
    border-bottom: 1px solid $fideloper-accent;
    display: block;
    height: 40px;
    padding-top: 10px;
    margin: 15px 0 25px 0;
}

#gsidebar .archive {
    margin-top: 28px;
}

#gsidebar li {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 20px;
}

#gsidebar li.title {
    text-transform: none;
    border: none;
    padding-bottom: 0;
}

#gsidebar li.first {
    border: none;
}

aside ul {
    margin-top: 18px;
}

.archive li {
    border-top: 1px dotted $fideloper-accent;
    padding: 12px 0 12px 30px;
    position: relative;
}

.archive li:first-child {
    border-top: none;
}

.archive li i {
    position: absolute;
    left: 0;
    top: 12px;
}

.whoami {
    font-size: .8rem;
    line-height: 16px;
}

.listing article {
    border-top: 1px solid $fideloper-accent;
    padding-top: 24px;
}

.listing article:first-child {
    border: none;
    padding-top: 0;
}

#gfoot {
    border-top: 1px solid $fideloper-accent;
    margin: 30px 0;
    padding-top: 30px;
}

#gfoot ul {}

#gfoot ul li {
    float: left;
    margin-right: 30px;
}

.listing .pagination {
    margin: 50px 0;
}

.listing .pagination li {
    margin-right: 4px;
}

.pagination .badge.light a {
    color: #555555;
}

.tags .badge {
    padding-left: 4px;
    margin-bottom: 10px;
}

.tags .icon-cancel,
.tags .icon-tag {
    margin: 0;
    border-right: 1px solid lighten($fideloper-blue, 9%);
    text-shadow: 1px 1px lighten($fideloper-blue, 9%), -1px -1px darken($fideloper-blue, 4%);
    padding: 0 4px;
}

.tags a {
    padding-left: 6px;
    text-shadow: 1px 1px lighten($fideloper-blue, 9%), -1px -1px darken($fideloper-blue, 4%);
}

#disqus_thread {
    margin-top: 100px;
}

@include respond(portrait-tablets) {

    #brand,
    #brand p {
        text-align: center
    }

    #brand h1 {
        font-size: 3rem;
    }

    h2.title {
        margin: 20px 0;
    }

    .meta {
        margin-right: 12px;
        line-height: 26px;
    margin-top: 0;
    }

    .meta li, .tags.meta li {
    float: left;
    }

    aside ul {
        margin-top: 0;
    }

}

@include respond(all-phones) {
    .meta.tags {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        margin-top: 0;
    }
   .meta.tags .time {
        width: 100%;
        margin-bottom: 3px;
    }
}

.post pre{ margin-bottom:20px }
code{background-color:#fde9ce}.prettyprint{overflow-x:auto;font-family:Monaco,Consolas,"Lucida Console",monospace;background-color:#333;padding:1.5em;font-size:.75em;border:0;color:#e9e4e5;line-height:1.9em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box}.prettyprint .pln{color:#e9e4e5}.prettyprint .str{color:#bcd42a}.prettyprint .kwd{color:#4bb1b1}.prettyprint .com{color:#888}.prettyprint .typ{color:#ef7c61}.prettyprint .lit{color:#bcd42a}.prettyprint .pun,.prettyprint .opn,.prettyprint .clo{color:#fff}.prettyprint .tag{color:#4bb1b1}.prettyprint .atn{color:#ef7c61}.prettyprint .atv{color:#bcd42a}.prettyprint .dec,.prettyprint .var{color:#606}.prettyprint .fun{color:red}.prettyprint code{font-family:Monaco,Consolas,"Lucida Console",monospace;background-color:transparent}
